@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --app-font: "Mulish", sans-serif;
}

body {
  font-family: var(--app-font) !important;
  background-color: var(--bs-black);
}

.min-height-100vh{
  min-height: 100vh;
}

body * {
  transition: all .1s ease;
}

.container{
  max-width: 540px;
}